# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
webui.tar.gz
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

node_modules
.DS_Store
dist
dist-ssr
*.local
